.search{
	background: url("../img/bg.jpg") no-repeat;
  background-size: cover;
  background-position: top center;
	height: 433.8px;

  	&__wrapper{
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		padding-top: 64px;

  	}

    .icon-keyboard{
      color: rgba(black, 0.2);
      font-size: 20px;
      cursor: pointer;
    }

    .icon-change{
      font-size: 24px;
      color: $greenyBlue;
      cursor: pointer;
      margin-left: 8px;
      margin-right: 8px;

      &:hover{
        color: #39988d;
      }
    }

    .icon-search{
      position: absolute;
      top: 0;
      left: 5px;
      font-weight: bold;
      font-size: 20px;
      color: rgba(black, 0.2)
    }

  	&__title{
  		max-width: 712px;
  		font-family: $UbuntuBold;
  		font-size: 38px;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.11;
  		letter-spacing: normal;
  		text-align: center;
  		color: #ffffff;
  		margin-bottom: 18px;
  	}

  	&__descr{
  		font-family: $UbuntuRegular;
  		font-size: 14px;
  		font-weight: normal;
  		font-style: normal;
  		font-stretch: normal;
  		line-height: 1.79;
  		letter-spacing: normal;
  		text-align: center;
  		color: #ffffff;
  	}

  	&__block{
  		margin-top: 44px;
      width: 100%;
  		max-width: 756px;
		  height: 217px;
  		border-radius: 4px;
  		background-color: #ffffff;
  		box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.12);
  		padding: 28px 52px 46px 52px;
  		box-sizing: border-box;
  		position: relative;


  		&-letters{
  			display: flex;
        width: 100%;
        br{
          display: none;
        }
        div{
            display: flex;
            width: 100%;
            justify-content: space-between;
            margin-right: 10px;
          }
  			a{
  				font-family: $UbuntuBold;
  				text-decoration: none;
  				text-transform: uppercase;
  				font-size: 12px;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 2.08;
  				color: $greenyBlue;

          &:hover{
            color: $darkBlue;
          }

  			}
  		}

  		&-search{
  			margin-top: 49.7px;
  			margin-bottom: 20px;
  			position: relative;
  		}

  		&-language{
  			position: absolute;
        display: flex;
        align-items: center;
  			right: 0;
  			top: 0;
  			a{
  				font-family: $UbuntuRegular;
  				font-size: 14px;
				  font-style: normal;
				  font-stretch: normal;
				  line-height: 1.79;
				  letter-spacing: normal;
				  color: $textColor;
				  text-decoration: none;
  			}
  		}

  		&-last{
  			margin-top: 5px;
  			display: flex;
  			span{
  				font-family: $UbuntuBold;
  				font-size: 14px;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.79;
  				letter-spacing: normal;
  				color: #4a4a4a;
  				margin-right: 20px;
  			}

  			a{
  				font-family: $UbuntuRegular;
  				font-size: 14px;
  				font-style: normal;
  				font-stretch: normal;
  				line-height: 1.79;
  				letter-spacing: normal;
  				color: $greenyBlue;
  				margin-right: 20px;

          &:hover{
            color: $darkBlue;
          }
  			}
  		}
  	}
}

.autocomplete-items {
  position: absolute;
  border-bottom: none;
  border-radius: 4px;
  border-top: none;
  z-index: 99;
  top: 100%;
  margin-top: 5px;
  left: 0;
  right: 0;
  box-shadow: 0 2px 54px 0 rgba(0, 0, 0, 0.12);
}
.autocomplete-items div {
  padding: 6px;
  box-sizing: border-box;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid rgba(#9b9b9b, 0.5); 
  font-family: $UbuntuRegular;
  font-size: 14px;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.5;
  letter-spacing: normal;
  color: #000000;

  strong{
    font-family: $UbuntuBold;
  }

  p{
    font-family: $UbuntuRegular;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.19;
    letter-spacing: normal;
    text-align: right;
    color: $greenyBlue;
  }

  &:first-child{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  &:last-child{
    border-bottom: none;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9; 
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}